<h1><%= @product.name %> <%= @product.rating %></h1>
<h2>$<%= @product.price %></h2>
<p><%= @product.comments %></p>
<%= link_to 'back', products_path %>
<%= link_to 'edit', edit_product_path(@product) %>
<%= link_to 'delete', product_path(@product), method: :delete, data: {confirm: 'are you sure?'} %> <!-- By default, link to is a get request, hence you need to specify, method: delete>
