<!DOCTYPE html>
<html>
  <head>
    <title>RoksanApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li>
      <form action="/contact" method="get">
        <input type="text" name="member" placeholder="Who are you looking for?" value=<%= params[:member] %>>
        <input type="submit">
          </form>
      </li>
    <li> <%= link_to "Learn About Us", about_path %></li>
    <li> <%= link_to "Contact Us", contact_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
